<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="ringen">
            <section name="rdbErgebnisdienst" type="Ringen.Configs.ConfigSections.RdbErgebnisdienstConfigSection, Ringen.Configs" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
            <section name="apiCache" type="Ringen.Configs.ConfigSections.ApiCacheConfigSection, Ringen.Configs" requirePermission="false" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ringen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <ringen>
        <rdbErgebnisdienst>
            <credentials benutzername="" enryptedPasswort="" />
            <api host="http://test.rdb.ringen-nrw.de">
                <!-- Bei Joomla "view" parameter mit "com_rdb" oder so ähnlich -->
                <jsonReaderService key="sv" value="json" />
                <taskCompetitionSystem key="tk" value="jr:cs" />
                <taskOrganisationsmanager key="tk" value="jr:om" />
            </api>
        </rdbErgebnisdienst>

        <apiCache aktiv="false">
            <einzelkampf cacheTage="3" />
            <mannschaftskampf cacheTage="3" />
            <mannschaftskaempfe cacheTage="3" />
            <mannschaftskampfSchema cacheTage="90" />
            <ligaMitPlatzierung cacheTage="3" />
            <ligen cacheTage="90" />
            <saisons cacheTage="90" />
            <saison cacheTage="90" />
            <kampftage cacheTage="90" />

            <mannschaften cacheTage="30" />
            <ringer cacheTage="30" />
        </apiCache>
    </ringen>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
