<rdbErgebnisdienst>
    <credentials benutzername="" enryptedPasswort="" />

    <api host="https://www.brv-ringen.de/Api/v1/cs/">
        <jsonReaderService key="sv" value="json" />
        <taskCompetitionSystem key="tk" value="jr:cs" />
        <taskOrganisationsmanager key="tk" value="jr:om" />
    </api>
</rdbErgebnisdienst>


<!--<rdbErgebnisdienst>
    <credentials benutzername="" enryptedPasswort="" />

    --><!-- Bei Joomla "view" parameter mit "com_rdb" oder so ähnlich --><!--
    <api host="http://test.rdb.ringen-nrw.de">
        <jsonReaderService key="sv" value="json" />
        <taskCompetitionSystem key="tk" value="jr:cs" />
        <taskOrganisationsmanager key="tk" value="jr:om" />
    </api>
</rdbErgebnisdienst>-->