<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ringen.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ringen.Core.Properties.Settings>
            <setting name="RestServer" serializeAs="String">
                <value>http://www.SpVgg-Freising.de</value>
            </setting>
            <setting name="PrivateRestServer" serializeAs="String">
                <value>http://www.SpVgg-Freising.de</value>
            </setting>
        </Ringen.Core.Properties.Settings>
    </userSettings>
</configuration>